:root {
  --black-light: #505A59;
  --dark-grey: #636363;
  --light-gray: #3D3D3D;
  --black-power: #212C2E;
  --black: #2A2A2A;
  --black-soft: #263538;
  --green-bluish-light: #DCF4F8;
  --green-bright: #5DDABC;
  --green-moss: #818B88;
  --green-smooth: #76ADAD;
  --green-soft: #CBF3E9;
  --green-soft-light: #DBF4EE;
  --green-super-light: #CCDBD7;
  --light-grey: #EEF4F3;
  --purple-light: #7B3FD3;
  --white: #FFFFFF;
  --white-light: #f2f2f2;
  --purple: #5A0FC8;
  --purple-soft: #DECFF4;
  --soft-pink: #AD87E4;
  --light-pink: #BD9FE9;
}